In [1]:
import pandas as pd

In [2]:
watchers = pd.read_pickle('../../data/01_data_from_db/watchers.pkl')
watchers['year'] = watchers['created_at'].dt.year
watchers['month'] = watchers['created_at'].dt.month
watchers.head()

   project_id          created_at  year  month
0           1 2010-05-12 06:16:00  2010      5
1           1 2009-02-16 12:51:54  2009      2
2           1 2011-02-09 03:53:14  2011      2
3           1 2010-09-01 09:05:21  2010      9
4           1 2009-03-04 09:44:56  2009      3

Liczba nowych obserwujących w miesiącu dla każdego projektu

In [3]:
new_watchers = watchers.groupby(['project_id', 'year', 'month']).count().reset_index() \
    .rename(columns={'created_at': 'new_watchers'})
new_watchers.head()

   project_id  year  month  new_watchers
0           1  2009      2           323
1           1  2009      3            56
2           1  2009      4            29
3           1  2009      5            24
4           1  2009      6            35

Łączna liczba obserwujących dla każdego projektu na początku danego miesiąca

In [4]:
total_watchers = []
for index, row in new_watchers.iterrows():
    total_watchers.append(new_watchers[(row['project_id'] == new_watchers['project_id']) & 
            ((row['year'] > new_watchers['year']) | 
             ((row['year'] == new_watchers['year']) & 
              (row['month'] > new_watchers['month'])))]['new_watchers'].sum())

In [5]:
new_watchers['total_watchers'] = pd.Series(total_watchers)

Sprawdzenie dla jednego z projektów

In [6]:
new_watchers[new_watchers['project_id'] == 3]

     project_id  year  month  new_watchers  total_watchers
95            3  2010      8            94               0
96            3  2010      9             7              94
97            3  2010     10             6             101
98            3  2010     11             6             107
99            3  2010     12             1             113
100           3  2011      1             3             114
101           3  2011      2             1             117
102           3  2011      3             3             118
103           3  2011      4             4             121
104           3  2011      5             1             125
105           3  2011      6             6             126
106           3  2011      7             3             132
107           3  2011      8             6             135
108           3  2011      9             1             141
109           3  2011     10             2             142
110           3  2011     11             5             144
111           3  2011     12             2             149
112           3  2012      1             4             151
113           3  2012      2             6             155
114           3  2012      3             4             161
115           3  2012      4             2             165
116           3  2012      5             6             167
117           3  2012      6             1             173
118           3  2012      7             2             174
119           3  2012      8             1             176
120           3  2012      9             3             177
121           3  2012     11             1             180
122           3  2012     12             1             181
123           3  2013      1             4             182
124           3  2013      2             1             186
125           3  2013      4             2             187
126           3  2013      5             3             189
127           3  2013      6             1             192
128           3  2013      7             1             193

In [7]:
new_watchers.to_pickle('../../data/02_prepared_data/new_watchers.pkl')